._*
.deps
.libs
*.o
*.la
*.lo
*.in
A51Test
BitVectorTest
ConfigurationTest
F16Test
InterthreadTest
LogTest
Makefile
Makefile.in
RegexpTest
SocketsTest
TimevalTest
URLEncodeTest
VectorTest
SelfDetectTest
UnixSignalTest
